[build-system]
requires = ["setuptools>=64", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
fallback_version = "0.0"

[project]
classifiers = [
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
]
name = "nomad-distribution"
description = "nomad distribution template"
dynamic = ["version"]
readme = "README.md"
requires-python = ">=3.10, <3.13"
license = { file = "LICENSE" }
dependencies = ["nomad-lab[parsing, infrastructure]>=1.3.16", "setuptools"]

[project.urls]
repository = "https://github.com/thin-layers-technology-innsbruck/nomad-uibk-image"

[project.optional-dependencies]
plugins = [
  "nomad-measurements>=1.0.1",
  "nomad-uibk-plugin",
  "pynxtools==0.10.9",
  "pynxtools-apm>=0.2.3",
]
jupyter = ["voila", 'jupyterhub<5']
dev = ["nomad-lab[parsing, infrastructure, dev]>=1.3.16"] 

[tool.uv]
extra-index-url = [
  "https://gitlab.mpcdf.mpg.de/api/v4/projects/2187/packages/pypi/simple",
]
constraint-dependencies = ["hyperspy>=1.7.6"]
prerelease = "disallow"

[tool.uv.sources]
nomad-uibk-plugin = { git = "https://github.com/thin-layers-technology-innsbruck/nomad-uibk-plugin", rev = "v0.1.0" }

[tool.setuptools.packages.find]
exclude = ["gui*", "docs*", "config*"]
